@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-poppins: var(--font-poppins);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans), var(--font-poppins), sans-serif;
}


.bg-primary{
  background-color: #326358;
}

.text-primary {
  color: #326358;
}

.color-primary {
  color: #326358;
}

.border-primary {
  border-color: #326358;
}

.outline-primary {
  outline-color: #326358;
}

.ring-primary {
  outline-color: #326358;
}

input:focus,
textarea:focus,
select:focus {
  outline: none !important ;
  box-shadow: 0 0 0 2px rgba(70, 139, 124, 0.5);

}